<%= render "shared/banner" %>

<div class="container">
<h3><strong>My Bookings</strong></h3>

<div class="list-group">
  <% if @bookings.empty? %>
    <h5>You have not made any bookings yet!</h5>
    <%= link_to "Book a venue", venues_path %>
  <% else %>
    <% @bookings.each do |booking| %>
    <div class="card-product m-2">
      <%= image_tag(booking.venue.image_url) %>
      <div class="card-product-infos">
        <h2><%=booking.venue.name%></h2>
        <h5><small> <%= "Booking Date: #{booking.start_date.strftime('%m/%d/%Y')} at #{booking.start_date.strftime('%I:%M%p')}" %></small></h5>
        <h5><small> <%= "Until: #{booking.end_date.strftime('%m/%d/%Y')} at #{booking.end_date.strftime('%I:%M%p')}" %></small></h5>
        <p><%=booking.venue.description%></p>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
</div>
