<%= render "shared/banner" %>

<div class="content-box">
         <!-- Hero Section -->
         <section class="section section-hero">
            <div class="hero-box">
               <div class="container-title">
                  <div class="hero-text align-center container-box">
                      <% if user_signed_in? %>
                        <h1 id="venues"><%= link_to "See All Venues", venues_path%></h1>
                      <% else %>
                        <h1 class="h1-reserve">Book a venue now!</h1>
                        <p class="desc">London has some of the greatest venues for you to hire. Be it a conference, wedding, or company-wide party, discover exactly what you need on AirVnP.</p>
                      <% end %>
                  </div>
                     <div class="input-line">

               </div>
            </div>
            <!-- Type of events box -->
            <div class="container-events">
               <div class="statistics-box">
                  <div class="statistics-item">
                     <i class="fa-solid fa-cake-candles"></i>
                     <p class="title">Birthday</p>
                  </div>

                  <div class="headerDivider1"></div>

                  <div class="statistics-item">
                     <i class="fa-regular fa-heart"></i>
                     <p class="title">Wedding</p>
                  </div>

                  <div class="headerDivider1"></div>

                  <div class="statistics-item">
                     <i class="fa-solid fa-person-chalkboard"></i>
                     <p class="title">Conference</p>
                  </div>

                  <div class="headerDivider1"></div>

                  <div class="statistics-item">
                     <i class=" icon-home fa-solid fa-palette"></i>
                     <p class="title">Workshop</p>
                  </div>
               </div>
            </div>
         </section>

<div class="title-subtitle">
  <h2 class="title1">Explore our top venues</h2>
  <p class="subtitle1">London's most iconic spaces for meetings, conferences, parties, team offsites and more!</p>
</div>

<div class="homepage-venues row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-center">
  <% @venues.each do |venue| %>
    <div class="col hello">
      <div class="card">
        <%= link_to image_tag(venue.image_url, id: "img-list"), venue_path(venue) %>
        <div class="card-body">
          <h5><strong> <%= link_to venue.name, venue_path(venue) %> </strong></h5>
          <p><i class="fa-solid fa-people-group"></i> <%= venue.capacity%> people</p>
          <p><i class="fa-solid fa-sterling-sign"></i> per person </p>
        </div>
      </div>
    </div>
    <% end %>
</div>

<div class="button-i">
  <a class="index-button" href="/venues">See all venues</a>
</div>
