<div class="container-md col-md-4 col-md-offset-4">
<div class="form-container">
  <h1 class="new-h1">Your venue</h1>
  <%= simple_form_for(venue) do |f| %>
    <%= f.input :name, { placeholder: "Venue name"} %>
    <%= f.input :address, { placeholder: "Venue address"} %>
    <%= f.input :capacity, { placeholder: "Maximum guests"} %>
    <%= f.input :pricing, { placeholder: "Hire fee per hour"} %>
    <%= f.input :description, { placeholder: "Tell us about your venue!"} %>
    <%= f.input :image_url, label: "Photos" %>
    <%= f.submit "Submit", class: "btn btn-submit w-100" %>
  <% end %>
</div>
