<%= render "shared/banner" %>
<div class="container">

<div class="d-flex justify-content-center mt-3">
  <h2>Explore our list of fantastic venues for your event</h2>
</div>

<%= form_with url: venues_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a venue"
  %>
  <%= submit_tag "Search", class: "btn btn-primary m-2" %>
<% end %>

<div class="row row-cols-1 row-cols-md-4 g-4 d-flex justify-content-center mt-3">
  <% @venues.each do |venue| %>
    <div class="col">
      <div class="card">
        <%= link_to image_tag(venue.image_url, id: "img-list"), venue_path(venue) %>
        <div class="card-body">
          <h5><strong> <%= link_to venue.name, venue_path(venue) %> </strong></h5>
          <p><%= "Capacity: #{venue.capacity} people" %></p>
          <p><%= "Category: #{venue.category}" %></p>
            <% if venue.description.length > 30 %>
              <%= truncate(venue.description, length: 30) %>
              <%= link_to "Read more", venue_path(venue) %>
            <% else %>
              <%= venue.description %>
            <% end %>
          </p>
          <p><%= "Price: £#{venue.pricing} per hour." %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<p><%= link_to "Back", root_path %></p>
</div>
