<div class="container-md col-md-4 col-md-offset-4">
  <h1 class="new-h1"><%= @venue.name %></h1>
  <h4 class="new-h1"><%= @venue.address %></h1>
  <h5 class="new-h1"><%= "Capacity: #{@venue.capacity} people" %></h1>
  <%= image_tag(@venue.image_url, id: "img-list") %>
  <%= simple_form_for [@venue, @booking] do |f| %>
    <%= f.input :start_date, html5: true %>
    <%= f.input :end_date, html5: true %>
    <%= f.button :submit, value: "Book now", class: "btn btn-primary" %>
  <% end %>
  <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  <%= link_to "Back to Venues", venues_path %>
</div>
